<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">San Diego, CA</p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/frankdb">
              <i class="fab fa-fw fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle"
              href="https://www.linkedin.com/in/frank-barros-a389aba8/">
              <i class="fab fa-fw fa-linkedin-in"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
              <i class="fas fa-fw fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-uppercase mb-4">About Theme</h4>
        <p class="lead mb-0">Theme adapted from Freelance, a free to use, open source Bootstrap theme created by
          <a href="http://startbootstrap.com">Start Bootstrap</a>. Used under the <a
            href="https://github.com/BlackrockDigital/startbootstrap-freelancer/blob/master/LICENSE">MIT license</a>.
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; 2019 Frank Barros - All Rights Reserved</small>
  </div>
</div>