<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body id="page-top">

  <!-- Navigation -->
  <% include ./partials/navmenu %>

  <section id="contact">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Contact Me</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <form name="sentMessage" id="contactForm" action="/thanks" method="POST">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label for="firstName">Name</label>
                <input class="form-control" id="firstName" name="firstName" type="text" placeholder="First Name">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label for="lastName">Name</label>
                <input class="form-control" id="lastName" name="lastName" type="text" placeholder="Last Name">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label for="email">Name</label>
                <input class="form-control" id="email" name="email" type="text" placeholder="Email">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xl btn-block">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- Footer -->
  <% include ./partials/footer %>

</body>

</html>