<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body id="page-top">

  <!-- Navigation -->
  <% include ./partials/navmenu %>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <span style="font-size: 120px;">
        <i class="fas fa-glasses spin"></i>
      </span>
      <h1 class="text-uppercase mb-0">Frank Barros</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">Web Developer</h2>
    </div>
  </header>

  <!-- Portfolio Grid Section -->
  <section class="portfolio" id="portfolio">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Portfolio</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="https://frankdb.github.io/weather-app/">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <p>Thunderbolt and Lightning - a simple weather app built with React</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/img/portfolio/cabin.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="https://github.com/frankdb/react100-hackathon">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <p>The Perfect Lunch - a restaurant finder built with React</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/img/portfolio/cake.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="https://github.com/frankdb/react100-vstda" target="_blank">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <p>Very Simple To Do App - a to do app built with React</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/img/portfolio/circus.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="https://github.com/frankdb/web102-astroweight-calculator">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <p>Astroweight Calculator - an app built with jQuery that calculates the weight of a person on different
                  planets</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/img/portfolio/game.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="https://github.com/frankdb/react100-change-calculator">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <p>Change Calculator - a React app that calculates change</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/img/portfolio/safe.png" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="https://github.com/frankdb/node101-movie-finder-data">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <p>Movie Finder - an app built with Node that creates a cache server to store movie data from the OMDB
                  API</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/img/portfolio/submarine.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section class="bg-primary text-white mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">About</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">Growing up, I always loved tinkering with computers and solving puzzles. Today I use that same
            passion as a front end web developer specializing in React. My goal is to create innovative web apps that
            provide a great user experience. </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">I'm also an active participant in the San Diego JavaScript community. Check out my projects on
            GitHub (github.com/frankdb) or read my thoughts on coding on Medium (medium.com/@frank.barros).
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <% include ./partials/footer %>

</body>

</html>